{% extends 'base.html' %}

{% block content %}

    <div class="d-flex flex-column">
        <div class="flex-grow-1 d-flex flex-column">
            <div class="hero d-flex justify-content-end align-items-center mb-5">
                <div class="mx-5 px-5 text-end">
                    <h1 class="header-text">Start learning today</h1>
                    <a href="{% url 'account_signup' %}" class="btn btn-secondary btn-lg action-button mt-3">Register</a>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="description-heading text-center mt-3">What is CodeFusion?</h2>
                        <div class="horizontal-line mt-4 mb-2"></div>
                        <p class="description-section">
                            CodeFusion is an online learning platform designed for aspiring developers, beginners, and professionals looking to enhance their programming abilities. The CodeFusion platform offers a comprehensive suite of courses tailored to the world of coding and provides an intuitive, interactive environment, where learners can engage with high-quality course content and participate in hands-on projects within a secure and user-friendly interface.
                        </p>
                    </div>
                </div>            
                <div class="row">
                    <div class="col">
                        <h2 class="description-heading text-center mt-3">Why CodeFusion?</h2>
                        <div class="horizontal-line mt-4 mb-2"></div>
                        <p class="description-section">
                            CodeFusion because offers a unique, user-centric approach to learning coding that combines comprehensive content with a hands-on, practical focus. The platform is tailored for all skill levels, making it an ideal choice for anyone looking to start or deepen their coding journey. CodeFusion's interactive courses and real-world projects ensure learners can immediately apply what they've learned, bridging the gap between theory and practice. Moreover, the platform's emphasis on continuous improvement, supported by a dedicated community and regular content updates, ensures that learners stay ahead in the rapidly changing tech landscape.
                        </p>
                    </div>
                </div>            
            </div>
        </div>
    </div>

{% endblock %}
