{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-8">
            <h2>Welcome {{ user.name }}</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="card mb-3 mx-1" style="max-width: 540px;">
            <a href="#">
                <div class="row">
                    <div class="col-md-4 d-flex justify-content-center align-items-center p-5">
                        <i class="fa-solid fa-user-pen fa-5x"></i>
                    </div>
                    <div class="col-md-8 d-flex align-items-center mt-0 py-3">
                        <div class="card-body">
                            <h5 class="card-title">Manage Users</h5>
                            <p class="card-text">Click here to manage users. Create, update, edit permissions and delete
                                user data through this section.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card mb-3 mx-1" style="max-width: 540px;">
            <a href="">
                <div class="row">
                    <div class="col-md-4 d-flex justify-content-center align-items-center p-5">
                        <i class="fa-solid fa-laptop-file fa-5x"></i>
                    </div>
                    <div class="col-md-8 d-flex align-items-center mt-0 py-3">
                        <div class="card-body">
                            <h5 class="card-title">Manage Courses</h5>
                            <p class="card-text">Click here to manage courses. Create, update and delete course and lesson
                                content through this section.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}