{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container my-4">
    <div class="row">
        <div class="col p-1">
            <h2>{{ course.title }}</h2>
        </div>
        <div class="col d-flex justify-content-end align-items-center p-1">
            <a href="#add" class="btn btn-primary btn-sm">Add a lesson</a>
        </div>
    </div>
</div>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="row my-3 p-3 edit-lesson-container">
            <div class="col">
                {{ course_form|crispy }}
            </div>
            <div class="row pe-0">
                <div class="col d-flex justify-content-start">
                    <button type="reset" class="btn btn-secondary">Undo changes</button>
                </div>
                <div class="col d-flex justify-content-end p-0">
                    <a href="{% url 'course_admin' %}" class="btn btn-danger me-3">Cancel</a>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
        {{ lesson_form.management_form }}
        {% for lesson in lesson_form %}
        <div class="row my-3 p-3 edit-lesson-container">
            <div class="col">
                {% if forloop.last %}
                    <h2 id="add" class="mb-3">Add New Lesson</h2>
                {% else %}
                    <h2 class="mb-3">Edit Lesson</h2>
                {% endif %}
                {{ lesson|crispy }}
            </div>
            <div class="row pe-0">
                <div class="col d-flex justify-content-start">
                    <button type="reset" class="btn btn-secondary">Undo changes</button>
                </div>
                <div class="col d-flex justify-content-end pe-0">
                    <a href="{% url 'course_admin' %}" class="btn btn-danger me-3">Cancel</a>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </form>
</div>

{% endblock %}