{% extends 'base.html' %}

{% block content %}

<div class="container"></div>
    <div class="row d-flex justify-content-center align-items-center auth-container">
        <div class="col-md-6 col-lg-4 ps-3">
            <div class="mb-3">
                <strong>Payment completed successfully!</strong>
            </div>
            <div class="mb-3">
                <q>An investment in knowledge pays the best interest.</q>
                <small><strong>Benjamin Franklin</strong></small>
            </div>
            <small>If you are not redirected</small>
            <div class="mb-3">
                <a href="{% url 'dashboard' %}" class="btn btn-primary btn-sm my-3">Click here</a>
            </div> 
        </div>
    </div>
</div>

<!-- JavaScript redirect element -->
<div id="redirect" data-success-url = "{% url 'dashboard' %}"></div>
{% endblock %}