{% extends 'base.html' %}

{% block content %}
    <h1>Basket</h1>

    <h2>Your basket</h2>
    <table>
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in basket %}
            <tr>
                <td scope="col">{{ item.title }}</td>
                <td scope="col">{{ item.description }}</td>
                <td scope="col">£{{ item.price }}</td>
                <td scope="col">{{ item.quantity }}</td>
                <td scope="col">£{{ item.total_price }}</td>
                <td>
                    <form action="{% url 'remove_from_basket' item.course.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Total: ${{ total }}</p>
    <form action="{% url 'checkout' %}" method="POST">
         {% csrf_token %}
         <button class="btn btn-primary">Checkout</button>
     </form> 
    

{% endblock %}