{% extends "base.html" %}
{% load allauth i18n %}

{% block content %}

    <div class="container">
        <div class="row d-flex justify-content-center align-items-center auth-container">
            <div class="col-md-6 col-lg-4 ps-3">
                <p>
                    Learning never ends but everyone deserves a break!
                </p>
                <form method="POST" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Sign Out</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
