{% extends "base.html" %}
{% load allauth i18n %}
{% block content %}

    <div class="container">
        <div class="row d-flex justify-content-center align-items-center auth-container">
            <div class="colcol-md-6 col-lg-4 ps-3">
                <form action="url 'account_change_password'" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="id_oldpassword">Current Password</label>
                        <input type="password" name="oldpassword" placeholder="Current Password" autocomplete="current-password" id="id_oldpassword" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="id_password1">New Password</label>
                        <input type="password" name="password1" placeholder="New Password" autocomplete="new-password" required aria-describedby="id_password1_helptext" id="id_password1" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="id_password2">Confirm New Password</label>
                        <input type="password" name="password2" placeholder="New Password (again)" required id="id_password2" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary mb-4">Sign In</button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock content %}
