{% extends "base.html" %}

{% load i18n %}
{% load allauth %}
{% block content %}
<div class="container">
    <div class="container mt-4 pb-5 align-content-center auth-container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% if token_fail %}
                <h2>Bad Token</h2>
                {% else %}
                <h2>Password Reset</h2>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% if token_fail %}
                <div>
                    <p>
                        The password reset link was invalid, possibly because it has already been used. Please request a
                        <a href="{% url 'account_reset_password' %}">new password reset</a>.
                    </p>
                </div>
                {% else %}
                <form method="POST" action="">
                    {% csrf_token %}
                    <label for="id_password1" class="form-label">New Password:</label>
                    <input type="password" name="password1" placeholder="New Password" autocomplete="new-password" required aria-describedby="id_password1_helptext" id="id_password1" class="form-control">
                    <br>
                    <label for="id_password2" class="form-label">New Password (again):</label>
                    <input type="password" name="password2" placeholder="New Password (again)" required id="id_password2" class="form-control">
                    <br>
                    <button name="action" type="submit" class="btn btn-primary">Change Password</button>
                </form>
                {% endif %}
                {% if form.errors %}
                <div class="alert alert-danger">
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}             
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>{{ field.label }}: {{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}