{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center align-items-center auth-container">
        <div class="col-md-6 col-lg-4 ps-3">
            <form method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input type="text" name="username" id="username" autocomplete="off" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password1">Password</label>
                    <input type="password" name="password1" id="password1" autocomplete="off" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password2">Confirm Password</label>
                    <input type="password" name="password2" id="password2" autocomplete="off" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary mb-3">Register</button>
                <div class="mb-3">
                    <small>Already have an account? Click</small>
                    <a href="{% url 'account_login' %}" class="text-sm auth-link">
                        <small class="auth-link">here</small>
                    </a>
                </div>
            </form>
            {% if form.errors %}
                <div class="alert alert-danger">
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}             
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>{{ field.label }}: {{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}