{% extends 'base.html' %}

{% block content %}

    <div class="container my-4">
        <div class="row">
            <div class="col-md-8">
                <h1>Courses</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            {% for course in courses %}
            {% if course.lessons.all %}
            <div class="col">
                {% for lesson in course.lessons.all %}
                {% if lesson.order == 0 %}
                <a href="{% url 'get_lesson' lesson.uuid %}">
                    <form action="{% url 'add_to_basket' course.id %}" method="POST">
                        {% csrf_token %}
                        <div class="card course-card mb-3">
                            <img src="{{ course.cover_image.url }}" class="img-fluid course-card-img mx-auto"
                                alt="course image">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ course.title }}</h5>
                                <p class="card-text course-card-text">{{ course.description }}</p>
                                <strong class="text-end mt-auto pe-2">{{ course.price }}</strong>
                                <button type="submit" class="btn btn-primary mt-2">Add to Basket</button>
                            </div>
                        </div>
                    </form>
                </a>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}