{% extends 'base.html' %}

{% block content %}

    <div class="container my-4">
        <div class="row">
            <div class="col">
                <h1>Courses</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center g-4">
            {% for course in courses %}
                <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <form action="{% url 'add_to_basket' course.id %}" method="POST">
                        {% csrf_token %}
                        <div class="card">
                            {% for lesson in course.lessons.all %}
                            {% if lesson.order == 0 %}
                            <a href="{% url 'get_lesson' lesson.uuid %}">
                                <img src="{{ course.cover_image.url }}" class="card-img-top" alt="course image">
                                <div class="card-body">
                                    <h5 class="card-title">{{ course.title }}</h5>
                                    <p class="card-text">{{ course.description }}</p>
                                    <button type="submit" class="btn btn-primary">Add to Basket</button>
                                </div>
                            </a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}