{% extends "base.html" %}
	
{% block content %}
    <div>
        <h1>Welcome, {{ user.username }}</h1>
    </div>
    <div>
        <ul>
            <li>First name: {{ user.first_name }}</li>
            <li>Last name: {{ user.last_name }}</li>
            <li>Bio: {{ complete_user.profile.bio }}</li>
            <li>Email: {{ user.email }}</li>
        </ul>
    </div>
    <div>
        <ul>
            {% for title in course_titles %}
            <li>You are enrolled on {{ title }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}



